<link rel="stylesheet" href="../static/css/leaflet.css" crossorigin=""/>
<script src="../static/js/leaflet.js" crossorigin=""></script>

 <script type="text/javascript" src='../static/js/leaflet.ChineseTmsProviders.js'></script>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<style>
	html, body {
		height: 100%;
		margin: 0;
	}
	#map {
		width: 1000px;
		height: 800px;
	}
</style>


<div style="float:left">
<div id='map' style="float:left"></div>

<div style="float:left">
<h1>选择线路</h1>
<select  onchange="select(this)">
  {{range .nameList}}
  <option value ="{{.}}">{{.}}</option>
  {{end}}
</select>
</div>
</div>

<script>

	//标记聚合(根据不同缩放级别显示不同数量)
	//https://github.com/MazeMap/Leaflet.LayerGroup.Collision
	//动画效果显示路段
	//https://github.com/rubenspgcavalcante/leaflet-ant-path
	
	//避免标签层叠
	//https://github.com/yakitoritabetai/Leaflet.LabelTextCollision

//	var normalm = L.tileLayer.chinaProvider('GaoDe.Normal.Map', {
//    maxZoom: 18,
//    minZoom: 5
//	});
//	var imgm = L.tileLayer.chinaProvider('GaoDe.Satellite.Map', {
//    maxZoom: 18,
//    minZoom: 5
//	});
//	var imga = L.tileLayer.chinaProvider('GaoDe.Satellite.Annotion', {
//	    maxZoom: 18,
//	    minZoom: 5
//	});

    var mbAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

    var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox.light', attribution: mbAttr}),
        streets  = L.tileLayer(mbUrl, {id: 'mapbox.streets',   attribution: mbAttr});


//	var normal = L.layerGroup([normalm]),
//	    image = L.layerGroup([imgm, imga]);

    var cities = L.layerGroup();
    L.marker([39.123659,1117.198104]).bindPopup('hello').addTo(cities);

	var map = L.map('map', {
		center: [39.123659,117.198104],
		zoom: 12,
		layers: [streets,cities],
	});
	
	var myStyle = {
	    "color": "#191970",
	    "weight": 5,
	    "opacity": 0.65
	};
	
	var lineLayer;//道路图层

	var baseLayers = {
		"地图": grayscale,
		"卫星":streets
	};

    var overlays = {//标记层
        "Cities": cities
    };


	L.control.layers(baseLayers, overlays).addTo(map);
</script>


<script type="text/javascript">

       function select(sel){
        if(lineLayer!=null){
		 map.removeLayer(lineLayer);
        }

		$.ajax({
				url:"/gis?name="+sel.value,
				success:function(data){

					lineLayer = L.geoJSON(data, {
						
					    style: myStyle
						
					}).addTo(map);

					var point=data[0].coordinates[0]
					
					console.log(point)					
					
					map.panTo(new L.LatLng(point[1], point[0]));
					
				}
			})	
        }
</script>



